@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
body {
    background: #fcfcfc;
    font-family: "Istok Web", sans-serif;
      text-decoration: none;
  }
 
.border{
   border: 1px solid #d64646;
}